* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(31, 30, 30);
  color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55px;
  background-color: rgb(42, 73, 166);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 20px;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  font-size: 1.2rem;
}

nav ul li:hover {
  color: white;
  padding: 12px;
  background-color: rgb(173, 155, 43);
  box-sizing: content-box;
  transition: 0.5s;
}

.left {
  font-size: 1.5rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.firstSection > div {
  width: 30%;
}

.leftSection {
  font-size: 3rem;
  padding: 150px 0px 0px 200px;
}

.rightSection img {
  width: 100%;
  padding: 120px 0px 0px 0px;
}

.Name {
  color: rgb(56, 140, 148);
}

#element {
  color: rgb(173, 155, 43);
}

.projects {
  /* background-color: #4f709c; */
  background-color: #94a684;
  height: 500px;
}

footer {
  background-color: rgb(42, 73, 166);
  height: 200px;
}

.footer {
  display: flex;
  padding: 23px 120px;
  justify-content: space-between;
}

.footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px;
}

.fsecond {
  display: flex;
  width: 30%;
}

.fthird {
  margin-top: 100px;
}

.ffourth ul li a {
  text-decoration: none;
  color: white;
}

.ffourth ul li a:hover {
  transition: 0.4s;
  font-size: 18px;
  color: rgb(173, 155, 43);
}
