* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(31, 30, 30);
  color: white;
  font-family: "Poppins", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 55px;
  background-color: rgb(42, 73, 166);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 20px;
  cursor: pointer;
}

nav ul li a {
  text-decoration: none;
  color: white;
}

nav ul li a:hover {
  font-size: 1.2rem;
}

nav ul li:hover {
  color: white;
  padding: 12px;
  background-color: rgb(173, 155, 43);
  box-sizing: content-box;
  transition: 0.5s;
}

.left {
  font-size: 1.5rem;
}

.firstSection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
}

.firstSection > div {
  width: 30%;
}

.leftSection {
  font-size: 3rem;
  padding: 150px 0px 0px 200px;
}

.rightSection img {
  width: 100%;
  padding: 120px 0px 0px 0px;
}

.Name {
  color: rgb(56, 140, 148);
}

#element {
  color: rgb(173, 155, 43);
}

.projects {
  background-color: #4e698d;
  height: 1100px;
  width: 90%;
  padding: 50px;
  font-size: 1.5rem;
  margin: auto;
  display: grid;
}

.projects img {
  border-radius: 10px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;
}

.projects h2 {
  color: #e9b824;
  font-size: 2rem;
}

.projects h3 {
  color: #f5f5dc;
  font-size: 2rem;
}

.projectsContainer1 {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project1:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.project2:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.projectsContainer2 {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.project3:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

.project4:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

footer {
  background-color: rgb(42, 73, 166);
  height: auto;
}

.footer {
  display: flex;
  padding: 23px 120px;
  justify-content: space-between;
}

.footer ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 10px;
}

.fsecond {
  display: flex;
  width: 30%;
}

.fthird {
  margin-top: 100px;
}

.ffourth ul li a {
  text-decoration: none;
  color: white;
}

.ffourth ul li a:hover {
  transition: 0.4s;
  font-size: 18px;
  color: rgb(173, 155, 43);
}
